/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css?family=Inter:400,600,700|Permanent+Marker|Vibur&display=swap');

@tailwind base;

.link {
  @apply underline;
}
.link:focus {
  @apply outline-none;
}

/* BUTTONS  */
.btn {
  @apply font-semibold text-black transition duration-150 ease-in-out;
}

.btn:focus {
  @apply outline-none shadow-focus;
}
.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}
.btn-regular {
  @apply px-4 py-2 text-sm bg-white border-2 border-black shadow;
}

.btn-large {
  @apply inline-block px-8 py-3 text-base font-bold leading-6 bg-white border-2 border-black shadow;
  /* md:py-4 md:text-lg md:px-10 */
}
.btn-regular:hover,
.btn-large:hover {
  @apply bg-yellow-500;
}

.btn-text {
  @apply px-4 py-2 text-sm border-b-2 border-transparent;
}
.btn-text:hover {
  @apply border-black;
}

/* FORM INPUTS */
.input {
  @apply w-full p-4 transition duration-150 ease-in-out border border-black rounded-none shadow-inner;
}
.input:focus {
  @apply outline-none shadow-focus;
}
.select-css {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  @apply block w-full text-black transition duration-150 ease-in-out bg-white border border-black rounded-none shadow-inner;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  @apply shadow-focus;
}
.select-css:focus {
  @apply outline-none shadow-focus;
}
.select-css option {
  font-weight: normal;
}

/* PAGE TRANSITIONS  */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* SPINNER  */
.v-spinner {
  text-align: center;
}

.v-spinner .v-square {
  -webkit-animation: v-squareDelay 3s 0s infinite
    cubic-bezier(0.09, 0.57, 0.49, 0.9);
  animation: v-squareDelay 3s 0s infinite cubic-bezier(0.09, 0.57, 0.49, 0.9);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  perspective: 100px;
  display: inline-block;
}

@-webkit-keyframes v-squareDelay {
  25% {
    -webkit-transform: rotateX(180deg) rotateY(0);
    transform: rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(0) rotateY(180deg);
    transform: rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
  }
}

@keyframes v-squareDelay {
  25% {
    -webkit-transform: rotateX(180deg) rotateY(0);
    transform: rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(0) rotateY(180deg);
    transform: rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
  }
}

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
